################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnScreenKeyboard/bin/Debug
/OnScreenKeyboard/obj/x86/Debug
/TermControls/bin/Debug
/TermControlsTests/obj/Debug
/TermControlsTests/bin/Debug
/TermControls/obj/Debug
